<a href="#tasks" class="text-sm w-fit">Cancel</a>
<h1 class="title">Add Task</h1>

<form id="add-task-form" x-show="$store.subjects.length">
    <div class="input">
        <label for="taskName">Task Name</label>
        <input type="text" id="taskName" name="taskName">
    </div>

    <div class="input">
        <label for="taskDescription">Description</label>
        <input type="text" id="taskDescription" name="taskDescription">
    </div>

    <div class="input">
        <label for="taskDeadline">Deadline</label>
        <input type="datetime-local" id="taskDeadline" name="taskDeadline">
    </div>
    
    <div class="input-group">
        <div class="input">
            <label for="taskSubject">Subject</label>
            <select name="taskSubject" id="taskSubject">
                <template x-for="(subject, index) in $store.subjects" :key="index">
                    <option :value="index" x-text="subject.subjectName"></option>
                </template>
            </select>
        </div>
    
        <div class="input">
            <label for="taskPriority">Priority</label>
            <select name="taskPriority" id="taskPriority">
                <template x-for="(priority, index) in $store.priorities" :key="index">
                    <option :value="index" x-text="priority"></option>
                </template>
            </select>
        </div>
    </div>
    
    <button class="btn btn-secondary" type="submit">Add task</button>
</form>

<div class="empty-state" x-show="!$store.subjects.length"> 
    <h2>No subjects yet</h2>
    <p class="mb-3">To add a task you need atleast 1 subject.<br>Add a task to get started</p>
    <a href="#add-subject" class="btn btn-secondary text-sm">
        Add Subject
    </a>
</div>