<h1 class="title">Tasks</h1>
<p class="text-faded">View and manage all of your tasks.</p>

<table class="table mt-5">
    <thead>
        <tr>
            <th><i data-lucide="book-text"></i> Subject</th>
            <th><i data-lucide=""></i> Task Name</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Task Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Subject</td>
            <td>Task Name</td>
            <td>Status</td>
            <td>Due Date</td>
            <td>Priority</td>
            <td>Task Type</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>Task Name</td>
            <td>Status</td>
            <td>Due Date</td>
            <td>Priority</td>
            <td>Task Type</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>Task Name</td>
            <td>Status</td>
            <td>Due Date</td>
            <td>Priority</td>
            <td>Task Type</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>Task Name</td>
            <td>Status</td>
            <td>Due Date</td>
            <td>Priority</td>
            <td>Task Type</td>
        </tr>
    </tbody>
</table>